 <span>Room No </span> <input id='room_no' type="text" /> <br>
 <span>Date of Join </span> <input type="text"/> <br>
 <span>Advance </span> <input type="text" /> <br>
 <span>Rent </span> <input type="text"/> <br>
 <span>EB</span> <input type="text"/> <br> 
 <span>Maintanance</span> <input type="text"/> <br> 

 <button class="button" type="submit">Save</button>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->